{
  "bind_ip": "127.0.0.1",
  "bind_port": 9000,
  "certificate": "/path/cert.pem",
  "certificate_key": "/path/certkey.pem",
  "certificate_authorities_dir": "/path/to/cas",
  "ams_token": "sometoken",
  "ams_host": "localhost",
  "ams_port": 8080,
  "verify_ssl": true,
  "tls_enabled": true,
  "trust_unknown_cas": false,
  "log_level": "INFO",
  "skip_subs_load": false,
  "acl": ["OU=my.local,O=mkcert development certificate"],
  "syslog_enabled": false
}
